<div class="details-container">
  <div class="detail-content">
    <app-detail-banner [config]="bannerConfig"></app-detail-banner>
    @if (config) {
      <div [ngClass]="{'vertical': config.isVertical}" class="details-section">
        <div class="img-section" [style.background-image]="'url('+config.img+')'"></div>
        <div class="info-section">
          @if (config.subtitle) {
            <span class="title">{{ config.subtitle }}</span>
          }
          <span class="overview">{{ config.description }}</span>
          <app-movie-rate [rate]="config.rate" [placeDecimals]="2"></app-movie-rate>
          <div class="separate-box">
            @for (item of config.detailsCards; track $index) {
              <div class="box">
                <span class="box-title">{{ item.title }}</span>
                <span class="box-description">{{ item.description }}</span>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
