.nav-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 18px 0;
  background-color: var(--background-dark-800);

  .nav-content {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .logo-section {
      min-width: 40px;
      height: 40px;
      background-image: url("../../../../assets/images/logo.svg");
      cursor: pointer;
    }

    .links-section {
      ul {
        display: flex;
        column-gap: 30px;

        div {
          display: flex;
          align-items: center;
          column-gap: 9px;

          li {
            list-style: none;
            color: var(--app-text-gray-500);
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
          }

          i {
            color: var(--app-text-gray-500)
          }
        }

        .active-item {
          li {
            color: var(--app-primary-500);
          }

          i {
            color: var(--app-primary-500)
          }
        }
      }
    }
  }
}
