:root {
  --app-background: #121829;
  --background-dark-800: #0f1627;
  --background-dark-700: rgba(0, 0, 0, 0.8);
  --background-dark-600: rgba(18, 24, 41, 0.8);
  --background-gray: rgba(0, 0, 0, 0.2);

  --app-primary-500: #5a4af4;
  --app-primary-400: #7c6ef6;
  --app-primary-100: #b2aded;
  --app-primary-50: #ebe9fe;
  --app-primary: #ebeef5;

  --app-text-gray-500: #5f687d;
  --app-text-gray-400: #767e94;

  --border-color-500: #20283E;

  --rating-color: #eea245;
}

