:root {
  --app-background: #121829;
  --background-gray: rgba(0, 0, 0, 0.2);
  --background-dark: #0f1627;

  --app-primary-500: #5a4af4;
  --app-primary-400: #7c6ef6;
  --app-primary-50: #ebe9fe;

  --app-text-gray-500: #5f687d;
  --app-text-gray-400: #767e94;

  --border-color-500: #20283E;
}

