.movie-rate-container {
  display: flex;
  column-gap: 5px;
  color: var(--rating-color);
  background-color: var(--background-dark-700);
  padding: 5px 8px;
  border-radius: 7px;
  width: fit-content;

  i {
    color: var(--rating-color);
  }

  span {
    font-size: 17px;
    font-weight: bold;
    color: var(--rating-color);
  }
}
